APP_ID=app_02bd6decc052fc1dfa29487444f6c6f
VITE_WORLD_APP_ID=app_02bd6decc052fc1dfa29487444f6c6f
DEV_PORTAL_API_KEY=your_world_developer_portal_api_key
RESEND_API_KEY=your_resend_api_key
ORDER_NOTIFICATION_EMAIL=brianokindo@gmail.com
ORDER_EMAIL_FROM=TMpesa <onboarding@resend.dev>
